// ----- MIXINS ------ //
@mixin widthGeneral {
  width: 85%;
  margin: 0 auto;
}

@mixin widthGeneralFrom920px {
  width: 95%;
  margin: 0 auto;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}