// COLORS //
$black: rgb(22, 22, 22);
$white: rgb(246, 246, 246);
$grey: rgb(201, 212, 224);
$darkBlue: rgb(0, 53, 102);
$lightBlue: rgb(0, 180, 189);
$orange: rgb(236, 133, 29);


// FONTS //
$fontPrimary: "Cabin", sans-serif;

//Sticky navbar
$preheader-height: 6vh;
$navbar-height: 11vh;
$sticky-navbar-height: calc(#{$preheader-height} + #{$navbar-height});