
.preheader {
  border-bottom: 1.5px solid $grey;

  .preheaderContent {
    @include widthGeneral;
    display: flex;
    align-items: center;
    height: $preheader-height;
    min-height: 48px;
    color: $darkBlue;

    .contact, .email, .phone {
      @include alignCenter;
    }

    .contact {
      gap: 64px;
      width: 100%;

      img {
        margin-right: 16px;
      }

      .email {

        a {
          text-decoration: none;
          color: $darkBlue;
        }

        .arobase {
          font-family: Arial, Helvetica, sans-serif;
        }
      }

    }

    .language {
      justify-self: end;
      display: none;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $darkBlue;
      }

      img {
        margin-right: 8px;
      }

      i {
        margin-left: 8px;
      }
    }
  }

  // MEDIA QUERIES -------------------------------
  @media (max-width: 920px) {
    .preheader-content {
      @include widthGeneral480px;

      .contact {
        justify-content: space-between;
      }

      .language {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .preheader-content {
      @include widthGeneral480px;
      .contact {
        gap: 2%;
      }
    }
  }
}