.navbar {
  @include widthGeneral;
  padding: 24px 0;
  // min-height: $navbar-height;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  transition: top 0.3s ease, box-shadow 0.3s ease;

  img {
    justify-self: start;
    margin-top: 8px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 40px;
  }

  a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    color: $darkBlue;

    &:hover {
      color: $orange;
    }
  }

  .languageMobile {
    display: none;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $darkBlue;
      font-weight: 400;
    }

    img {
      margin-right: 8px;
    }

    i {
      margin-left: 8px;
    }
  }

  &.sticky {
    width: 100%;
    position: fixed;
    min-height: $navbar-height; 
    padding: 24px 108px 24px;
    top: 0;
    z-index: 100;
    background: white;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  &.hide {
    top: 0; // Cache la navbar quand on défile vers le bas
  }

  &.show {
    top: 0; // Affiche la navbar quand on défile vers le haut
  }

  // MEDIA QUERIES -------------------------------------
  @media (max-width: 920px) {
    @include widthGeneralFrom920px;
    padding: 24px 0;

    ul {
      display: none;
    }

    .languageMobile {
      display: none;
    }
  }
}
